.main__container {
  background-image: url("/product-card/img/bg.png");
  background-repeat:no-repeat;
  background-position: 0 0;
  background-size: 790px 697px;
  padding-top: 220px;
}


.main__title {
  margin-top: 0;
  margin-bottom: 110px;
}